ul.menu {
    margin: 0;
    padding: 0;
    width: 100%;
    float: left;
    list-style-type: none;
    background-color: #ffba37;
}

.menu li {
    display: inline;
    padding: 15px 30px 15px 30px;
}